.smart-green {
            margin-left: auto;
            margin-right: auto;
            max-width: 500px;
            background: #F8F8F8;
            padding: 30px 30px 20px 30px;
            font: 12px Arial, Helvetica, sans-serif;
            color: #666;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
        }
 .toptitle {
            font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
            padding: 20px 0px 20px 40px;
            display: block;
            margin: -30px -30px 10px -30px;
            color: #FFF;
            background: #9DC45F;
            text-shadow: 1px 1px 1px #949494;
            border-radius: 5px 5px 0px 0px;
            -webkit-border-radius: 5px 5px 0px 0px;
            -moz-border-radius: 5px 5px 0px 0px;
            border-bottom: 1px solid #89AF4C;
}
.item{
margin-bottom:10px;
font-size:16px;
background: skyblue;
}
.qtitle{    font-size: 18px;}
#upload{
        margin: 0 auto;
    text-align: center;
        display:block;
     background-color: #9DC45F;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-border-radius: 5px;
            border: none;
            padding: 10px 25px 10px 25px;
            color: #FFF;
            text-shadow: 1px 1px 1px #949494;
     }
#qAdd{
    background: skyblue;
    font-size: 22px;
 }    
#qAdd button{
    font-size: 22px;
    width: 100%;
    height: 30px;
   background: skyblue;
    border: 0;

}
.qItem{
    margin-top: 20px;
}
.qItem button{
    width: 100%;
    height: 40px;
    border: 0;
    background-color:orange;
}
img{
    height:40px;
}
