#loginform {
  height: 100%;
  font-size: 14px;
  background: skyblue;
  text-align: center;
  padding: 1px;
  background: snow;
}
table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
table tr {
  margin: 10px;
  width: 100%;
}
table tr td {
  width: 20%;
  vertical-align: top;
  text-align: center;
}
table .verifyimg {
  display: flex;
  justify-content: center;
}
input {
  height: 30px;
  outline-style: none ;
  border: 1px solid #ccc;
  border-radius: 3px;
}
